<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/header.ejs %>
    <title>Edit</title>
  </head>
  <body>
    <div class="header center">
    <h1>Edit <%=coins.name%></h1>
    </div>
    <div class="main">
      <form action="/cryptocalculator/<%=coins.id%>?_method=PUT" method="POST">
        <p>Name:</p> <input type="text" name="name" value="<%=coins.name%>"/>
        <p>Price:</p> <input type="text" name="price" value="<%=coins.price%>"/>
        <p>Image:</p> <input type="text" name="image" value="<%=coins.image%>"/>
        <p>Description:</p> <input type="text" name="description" class="textArea" value="<%=coins.description%>"/><br/>
        <button class="showButton">Update</button>
      </form>
      <a href="/cryptocalculator" class="showButton">Back to Main</a>
    </div>
  </body>
</html>
